{
	storage file_system {
		root /data/caddy
	}

	auto_https off
}

:8008 {
	redir /admin /admin/

	handle /admin/* {
		root * /admin-gui
		encode gzip zstd
		try_files {path}.html {path} {path}/index.html /admin/200.html
		file_server${SECURITY_HEADERS_BLOCK}
	}

	handle {
		reverse_proxy 127.0.0.1:8080${SECURITY_HEADERS_BLOCK}
	}
}
