{
	storage file_system {
		root /data/caddy
	}

	email ${ACME_ISSUANCE_EMAIL}

	${ACME_EAB_BLOCK}
}

${PUBLIC_SERVER_URL}:${PUBLIC_LISTEN_PORT} {
	redir /admin /admin/

	handle /admin/* {
		root * /admin-gui
		encode gzip zstd
		try_files {path}.html {path} {path}/index.html /admin/200.html
		file_server${SECURITY_HEADERS_BLOCK}
	}

	handle {
		reverse_proxy 127.0.0.1:8080${SECURITY_HEADERS_BLOCK}
	}

	${CLOUDFLARE_ACME_BLOCK}
}
